{% extends 'base.html.twig' %}

{% block title %}New SweatShirt{% endblock %}

{% block body %}
    <h1>Create new SweatShirt</h1>

    {{ include('sweat_shirt/_form.html.twig') }}

    <a href="{{ path('app_sweat_shirt_index') }}">back to list</a>
{% endblock %}
