.nav-container {
    background-color: orange;
    margin: -30px -30px 0 -30px;
    padding-bottom: 10px;
}

.nav-container-layer {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 30px 10px;
}

.nav-start,
.nav-menu {
    width: 50%;
}

.nav-start {
    text-align: center;
}

.nav-logo {
    width: 70%;
}

.nav-menu {
    text-align: end;
}

.nav-menu-btn {
    border-radius: 5px;
    background-color: #f0d1a2;
}

.nav-menu-icon:hover {
    color: crimson;
}

.nav-menu-list {
    display: none;
    width: 100%;
    text-align: center;
    list-style: none;
    position: absolute;
    left: 0;
    top: 37vw;
    background-color: orange;
    padding: 30px 0 30px 0;
    border-top: 2px solid black;
}

.nav-menu-item {
    padding-top: 20px;
}

.active a {
    font-weight: 700;
    text-decoration: underline;
    color: crimson;
}

.nav-menu-item:first-child {
    padding-top: 0;
}

.nav-menu-link {
    font-size: 3vw;
}

.nav-menu-link:hover {
    color: orangered;
    font-size: 3.5vw;
    font-weight: 700;
}

.nav-menu-span {
    display: inline-block;
    background-color: black;
    height: 2px;
    width: 50px;
}

@media screen and (min-width:768px) {

    .nav-menu {
        width: 80%;
    }

    .nav-logo {
        width: 50%;
    }

    .nav-slogan {
        font-size: 2vw;
    }

    .nav-menu-btn {
        display: none;
    }

    .nav-menu-list {
        border-top: none;
        display: flex;
        justify-content: end;
        position: relative;
        top: 0;
        padding: 0;
    }

    .nav-menu-item {
        padding: 0 5px;
    }

    .nav-menu-link {
        font-size: 2.5vw;    
    }

    .nav-menu-link:hover {
        font-size: 3vw;    
    }

    .logout {
        margin-left: 15px;
    }

    .nav-menu-span {
        display: none;
    }

}

@media screen and (min-width:992px) {
    
    .nav-menu {
        width: 60%;
    }

    .nav-start {
        width: 30%;
    }

    .nav-menu-item {
        padding: 0 10px;
    }

}