.product-filter-title {
    font-size: 3vw;
}

.product-filter-by-price {
    display: flex;
}

.product-filter-by-price input {
    width: 15vw;
    margin-right: 2vw;
    font-size: 2vw;
}

.product-filter-btn {
    margin-left: 5vw;
    font-size: 2.5vw;
    border: none;
    border-radius: 5%/15%;
    padding: 0 2vw;
}

.cards-container {
    margin: 4vw;
    padding-bottom: 6vw;
}

.col {
    margin-bottom: 6vw;
}

.card {
    border: solid 2px black;
}

.card-img {
    width: 100%;
    padding: 3vw 1.5vw;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-name {
    font-size: 4vw;
    font-weight: 500;
}

.card-price {
    font-size: 3vw;
}

.card-name,
.card-price {
    text-align: start;
    margin-left: 6vw;
}

.card-link-to-product {
    width: 15vw;
}

@media screen and (min-width:768px) {
    
    .product-filter-title {
        font-size: 2vw;
    }

}
@media screen and (min-width:992px) {
    
    .card-name {
        font-size: 3vw;
    }

    .card-price {
        font-size: 2.2vw;
    }

    .card-link-to-product {
        width: 8vw;
    }

}