{% block stylesheets %}
    <link href="{{ asset('css/footer.css') }}" rel="stylesheet"/>
{% endblock %}

<div class="footer-container">
    <div class="footer-div">
        <p class="footer-title">Stubborn</p>
        <a href="">
            <img class="footer-logo" src="{{ asset('img/Logo.png') }}" alt="Logo entreprise Stubborn" />
        </a>
    </div>
    <div class="footer-div">
    <p class="footer-title">Adresse</p>
    <address>
        <a class="footer-link" href="">
            Piccadilly Circus,<br>
            London W1J 0DA, <br>
            Royaume Uni
        </a>
    </address>
    </div>
    <div class="footer-div">
        <p class="footer-title">Contact</p>
        <address>
            <a class="footer-link" href="mailto:stubborn@blabla.com">stubborn@blabla.com</a>
        </address>
    </div>
</div>